<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>フラワーショップ</title>
  <link rel='stylesheet' href='https://unpkg.com/ress/dist/ress.min.css'>
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/responsive.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- jQueryの読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
  <div class="header-pc">
    <div class="header-inner-pc">
      <div class="header-logo"><a href=""><img src="../image/logo.png" alt=""></a></div>
      <ul class="header-menu-pc">
        <li><a href="">HOME</a></li>
        <li><a href="">お店紹介</a></li>
        <li><a href="">商品紹介</a></li>
        <li><a href="">ニュース</a></li>
      </ul>
    </div>
  </div>
<div class="header-sp">
  <div class="header-inner-sp">
    <div class="header-logo"><a href=""><img src="../image/logo.png" alt=""></a></div>
  </div>
</div>
    <div class="wrapper">
      <main>

        <label for="menu-toggle" class="menu-background"></label>
      </div>
      
        <div class="key-message">
          <div class="switch-img-pc js-switch-img">
            <div class="switch-img_item-pc is-current">
              <img src="../image/pc/main1_pc.png" alt="PC用" class="pc-only">
            </div>
            <div class="switch-img_item-pc">
              <img src="../image/pc/main2_pc.png" alt="PC用" class="pc-only">
            </div>
            <div class="switch-img_item-pc">
              <img src="../image/pc/main3_pc.png" alt="PC用" class="pc-only">
            </div>
            <div class="switch-img_item-pc">
              <img src="../image/pc/main4_pc.png" alt="PC用" class="pc-only">
            </div>
          </div>
      
          <div class="switch-img-sp js-switch-img">
            <div class="switch-img_item-sp is-current">
              <img src="../image/sp/main1_sp.png" alt="SP用" class="sp-only">
            </div>
            <div class="switch-img_item-sp">
              <img src="../image/sp/main2_sp.png" alt="SP用" class="sp-only">
            </div>
            <div class="switch-img_item-sp">
              <img src="../image/sp/main3_sp.png" alt="SP用" class="sp-only">
            </div>
            <div class="switch-img_item-sp">
              <img src="../image/sp/main4_sp.png" alt="SP用" class="sp-only">
            </div>
          </div>
          <p class="key-message-text">あなたにあった<br />最高の一本を</p><br class="hidden-sm"/>
        </div>
      
       <div class="main"></div>
         <h2 class="title">お店プロフィール</h2>
         <div class="border"></div>
        <div class="profile">
      
          <div class="profile-detail">
            <div class="profile-image">
              <img src="../image/main6_tate.png" alt="">
            </div>
            <div class="profile-detail-name-and-desc">
              <div class="profile-name"><span>フラワーショップ@</span><span>スターブロッサム</span></div>
              <div class="profile-desc">当店は、国内随一の大型フラワーショップです。スターブロッサムは2000年の営業開始以来、都内で唯一無二のお見せを作り続けてきました。街中に花を咲かせるべく努力を積み重ね都内、いや国内最大級のフラワーショップとして大きくなりました。花の販売を初めとし、イベントや講習会を行い町中を花で埋め尽くしていくように努力していきます。
              </div>
            </div>
          </div> <!-- profile-detail -->
       
          <div class="profile-history">
            <div class="profile-history-date"></div>
            <ul class="profile-history-content">
               <li>
                <div class="profile-history-timeline-date"><span>2019年</span><span>5月</span></div>
                <div class="profile-history-timeline-content"> 
                  <h3>初めての大規模イベント</h3>
                  <p>「花」に特化した大規模イベントの開催。</p>
                  </div>
                </li>
                <li>
                  <div class="profile-history-timeline-date"><span>2015年</span><span> 5月</span></div>
                  <div class="profile-history-timeline-content">
                    <h3>本店移転に伴うお店規模拡大</h3>
                    <p>本店の移転とお店の規模拡大</p>
                    </div>
                  </li>
                <li>
                  <div class="profile-history-timeline-date"><span>2010年</span><span> 8月</span></div>
                  <div class="profile-history-timeline-content">
                    <h3>支店営業開始</h3>
                    <p>業績好調に伴い新たな店舗での営業開始</p>
                    </div>
                  </li>
               <li>
                <div class="profile-history-timeline-date"><span>2000年</span><span> 4月</span></div>
                <div class="profile-history-timeline-content">
                  <h3>営業開始</h3>
                  <p>東京で小さな店舗として営業開始</p>
                  </div>
                </li>
            </ul>
          </div> <!-- profile-hisotry -->
       
        </div>
      
        <h2 class="title">商品紹介</h2>
        <div class="border"></div>
        <div class="programs">
      
          <div class="program">
            <div class="program-image">
              <img src="../image/program1_1.png" alt="">
            </div>
            <div class="program-text">
              <p class="program-title">お花販売</p>
              <p class="program-detail">お花の販売を行います。季節に合わせたお花を取り揃えおり、1本から100本以上...何本でも販売致します。スタンドフラワーからドライフラワーなど様々な商品を取り扱いしております。</p>
            </div>
          </div>
      
          <div class="program">
            <div class="program-image">
              <img src="../image/program2_1.png" alt="">
            </div>
            <div class="program-text">
              <p class="program-title">お花イベント</p>
              <p class="program-detail">お花の育て方講習会、生花やお花を利用したファッション講習会などを行っております。</p>
            </div>
          </div>
      
          <div class="program">
            <div class="program-image">
              <img src="../image/program3.png" alt="">
            </div>
            <div class="program-text">
              <p class="program-title">お花料理</p>
              <p class="program-detail">季節に合わせたお花を使用した食事を楽しめます。</p>
            </div>
          </div>
      
        </div>
      
        <h2 class="title">ニュース一覧</h2>
        <div class="border"></div>
      
        <div class="news">
      
          <ul>
            <li>
              <div class="news-date">2020.04.01</div>
              <div class="label label-event">イベント</div>
              <div class="news-text">
                <a href="">春の花イベント開催</a>
              </div>
            </li>
            <li>
              <div class="news-date">2020.04.30</div>
              <div class="label label-notice">お知らせ</div>
              <div class="news-text">
                <a href="">季節の花入荷しました</a>
              </div>
            </li>
            <li>
              <div class="news-date">2020.05.01</div>
              <div class="label label-event">イベント</div>
              <div class="news-text">
                <a href="">春の花イベント開催中です</a>
              </div>
            </li>
            <li>
              <div class="news-date">2020.05.15</div>
              <div class="label label-notice">お知らせ</div>
              <div class="news-text">
                <a href="">店舗拡大のお知らせ</a>
              </div>
            </li>
          </ul>
      
        </div>
      
        <footer>
          <div class="footer">
           <div class="footer-inner">
            <div class="footer-sitemap">
              <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">お店紹介</a></li>
                <li><a href="">商品紹介</a></li>
                <li><a href="">ニュース</a></li>
                <li><a href="">アクセス</a></li>
                <li><a href="">求人情報</a></li>
                <li><a href="">お問い合わせ</a></li>
              </ul>
            </div>
              <div class=footer-contents>
                <div class="footer-address">
                  <p>スターブロッサム</p>
                  <p>〒123-4567</p>
                  <p>東京都どこどこ区どこどこのどこどこ12-1234</p>
                  <p>TEL:1234-567-890</p>
                </div>
                <div class="footer-copy">
                  <p>© All rights reserved by starbrossam.</p>
                </div>
              </div>
              </div>
          </div>
        </footer>
      </main>
      <div class="menu-trigger" href="">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav>
        <ul class="header-menu">
          <li><a href="#">お店紹介</a></li>
          <li><a href="#">商品紹介</a></li>
          <li><a href="#">ニュース</a></li>
        </ul>
      </nav>
      <div class="overlay"></div>
    </div>

  <!-- script.jsの読み込み -->
  <script type="text/javascript" src="../js/script.js"></script>

</body>
</html>